.menu-container {
  position: absolute;
  top: 210%;
  left: 0;
  width: 40%;
  height: 60%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transform: translateY(0%);
}

.menu-container.open {
  transform: translateX(0);
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  width: 100%;
  padding: 0.1rem;
  background-color: #2a2a2acf;
}

.menu-item {
  box-sizing: border-box;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100%;
  text-align: left;
  padding: 0.3rem 0;
  padding-left: 0.9rem;
  border-bottom: 1px solid #ffffff;
}

.menu-item:hover {
  color: #888;
}

.menu-item svg {
  margin-right: 0.5rem;
  vertical-align: middle;
}

/*スマホ対応*/
@media (max-width: 479px) {
  div#root {
    width: 100%;
    height: 100%;
  }

  .menu-container {
    position: absolute;
    top: 210%;
    left: 0;
    width: 50%;
    height: 60%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transform: translateY(0%);
  }
}
